<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gtu_polar">
  <xacro:include filename="$(find gtu_polar_arm_description)/robots/gtu_polar_arm.xacro"/>
  <xacro:include filename="$(find gtu_polar_arm_description)/robots/hand.xacro"/>
  <xacro:gtu_polar_arm/>
  <xacro:hand ns="gtu_polar" connected_to="gtu_polar_link5"/>
</robot>
